<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>
        <main>
            <section>
                <form class="" onsubmit="return Client.handleObjectSubmit(event)">
                    <label for="post-object">POST - sent as an Object</label>
                    <input id="post-object" type="text" name="input" value="" placeholder="Input Text Here">
                    <input type="submit" name="" value="submit" onclick="return Client.handleObjectSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>
            <section>
                <form class="" onsubmit="return Client.handleStringSubmit(event)">
                    <label for="post-string">POST - sent as a String</label>
                    <input id="post-string" type="text" name="input" value="" placeholder="Input Text Here">
                    <input type="submit" name="" value="submit" onclick="return Client.handleStringSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>
        </main>
        <!--<script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('./service-worker.js');
                });
            }
        </script>-->
    </body>
</html>
